{% load static %}

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categoria: {{ category.category_name }}</title>
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
</head>
<body>
    <nav>

        <ul>
            <li>
                <a href="/">Home</a>
                <a href="/categorys/">Categorias</a>
                <a href="logout">Logout</a>
            </li>
        </ul>

    </nav>
    
    <h1>Posts na categoria: {{ category.category_name }}</h1>

    <div class="posts-list">
        {% for post in posts %}
            <div class="post">
                <h2>{{ post.title }}</h2>
                <p>
                    {% if post.picture %}
                        <img class="post-picture" src="{{ post.picture.url }}" alt="Imagem do post">
                    {% endif %}
                    {{ post.content }}
                </p>
                <form class="form-like" action="{% url 'add_like_post' post.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit">👍 Like <span>({{ post.likes }})</span></button>
                </form>
                <small>Publicado dia {{ post.published_at }} por: {{post.author}}</small>

                <ul id="comment-list-{{ post.id }}">
                    {% for comment in post.comments.all %}
                        <li>
                            <strong>{{ comment.user.username }}</strong> : {{ comment.comment }} 
                            <small>({{ comment.created_at }})</small>
                            <form class="form-like" action="{% url 'add_like_comment' comment.id %}" method="POST">
                                {% csrf_token %}
                                <button type="submit">👍 Like <span>({{ comment.likes }})</span></button>
                            </form>
                        </li>
                    {% endfor %}
                </ul>

                <form class="form-comment" data-post-id="{{ post.id }}">
                    {% csrf_token %}  <!-- Token CSRF do Django -->
                    <textarea class="comment" name="comment"></textarea>
                    <input type="hidden" class="post_id" value="{{ post.id }}">
                    <button type="submit">Comentar</button>
                </form>
            <br>

    

        {% empty %}
            <p>Não há posts nesta categoria ainda!</p>
        {% endfor %}
    </div>

    <script src="{% static 'blog/js/script.js' %}"></script>


</body>
</html>
